<html>
    <head>
        <meta charset="UTF-8">
        <title> View Post </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='post/post.css') }}">           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
        <a href="{{ url_for('user_post.upload') }}"  >Add New Post</a>
        <span style="width: 100px;"> | </span>
        <a href="{{ url_for('authentication.login_user') }}">Logout</a>
          <div class="border" align="left" >
             <div class="header" align="center" >
                <h3 class="word">Logged in as <b>{{user}}</b></h3>
             </div></br></br></br>
             {% for key, value in data.items() %}
                Posted by : <b>{{key}}</b>
                <br>
                <ul>
                    {% for i in value %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
                <hr>
            {% endfor %}

          </div>
        </div>
    </body>
</html>